<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}"></title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>

	<div th:if="${usuarios.isEmpty}">No existen usuarios en la lista
	</div>
	<!-- retorna un booleano  -->
	<table th:if="${! usuarios.isEmpty}">
		<!--  !=>esto niega es decir si no es vacio muestre la lista  // otra forma de preguntar por los elementos:  usuarios.size()> 0}"  -->
		<thead>	<!--  encabezado de una tabla  -->
			<tr><!-- es una fila -->
				<th>Nombre</th><!-- celda de encabezado de columna -->
				<th>Apellido</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbdoy> <!-- acas se tendran las filas de la tabla -->
		<tr th:each="usuario: ${usuarios}">
			<!-- repetir cada elemento de la ista es como un foreach -->
			<td th:text="${usuario.nombre}"></td>
			<td th:text="${usuario.apellido}"></td>
			<td th:text="${usuario.email}"></td>
		</tr>
		</tbdoy>
	</table>
	
	Segunda tabla
	<table th:if="${! usuarios.isEmpty}">
		<!--  !=>esto niega es decir si no es vacio muestre la lista  // otra forma de preguntar por los elementos:  usuarios.size()> 0}"  -->
		<thead>
			<!--  encabezado de una tabla  -->
			<tr>
				<!-- es una fila -->
				<th>Nombre</th>
				<!-- celda de encabezado de columna -->
				<th>Apellido</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbdoy> <!-- acas se tendran las filas de la tabla -->
		<tr th:each="usuario2: ${usuarios2}">
			<!-- repetir cada elemento de la ista es como un foreach -->
			<td th:text="${usuario2.nombre}"></td>
			<td th:text="${usuario2.apellido}"></td>
			<td th:text="${usuario2.email}"></td>
		</tr>
		</tbdoy>
	</table>

</body>
</html>