<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}">Insert title here</title>
</head>
<body>
<h1 th:text="${titulo}"></h1>
<span th:text= "${usuario.nombre}"></span>  <!-- con usuario.nombre se accede automaticamente al getNombre de la clase usuario -->
<span th:text= "${usuario.apellido}"></span>
<span th:if="${usuario.email}" th:text= "${usuario.email}"></span>  <!-- si existe el email se muestra, de lo contrario se oculta no se muestra -->
<span th:if="${usuario.email == null}" th:text= "'el usuario no tiene correo'"></span>  <!-- este seria el else del primer if se puede hacer de esta forma o tambien como elemento del span-->
<span th:if="${usuario.email != null}">Usuario encontrado</span>  <!-- este seria el else del primer iftambien como elemento del span-->
</body>
</html>