<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Enviar parametros del Request HTTP GET -URL</title>
</head>
<body>
	<h1>Enviar parametros del request HTTP GET URL</h1>
	<ul>
		<li><a th:href= "@{/params/string(textoUrl='envio hola Javier')}">/params/string?texto=envio hola Javier</a> 
		<!-- @{} es para rutas URL propias del proyecto en thymeleaf rutas propias del proyecto, controladores, metodos handler, javascript  todo lo que este dentro de la carpeta static --></li>           <!-- Lo que va en el parentesis son los parametros o parametro a enviar tener en cuenta debe ser el mismo del RequestParam -->
        <li> <a th:href= "@{/params/string(textoUrl='envio que tal Diego')}">/params/string?texto=envio que tal Diego</a></li>
        <li> <a th:href= "@{/params/mix-params(saludoUrl= 'Envio saludo desde url', numeroUrl=7 )}">multiplesparametrosaenviar</a>
        <li> <a th:href= "@{/params/mix-params-request(saludoUrlReq='Envio saludo desde url request', numeroUrlReq=9)}">envio con request</a>
	</ul>
</body>
</html>